.cell{
    width: 40px;
    height: 40px; background-color: rgb(175, 175, 175);
    color: black;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(109, 109, 109);
}

.cellNavio {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(109, 109, 109);
}

.cellNavioBranco {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(109, 109, 109);
}

.cellAgua {
    width: 4px;
    height: 40px;
    background-color: rgb(81, 111, 207);
    color: black;
    text-align: center;
    cursor: default;

}